body{
  font-family: 'Nunito';
}

#banner{
  margin: 0;
  background-color: #38a3ff;
  text-align: center;
  height: auto;
  padding: 10px;
}

#new{
  text-align: center;
  margin: 50px;
}

h2{
  text-align: center;
  margin: 30px;
  font-weight: 600;
}
#title{
  width: 200px;
}

.container{
  background-color: rgba(106, 106, 106, 0.22);
}

.col{
  height: 70px;
  background-color: skyblue;
  margin: 18px;
}