<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Page</title>
  <link rel="stylesheet" href="EditPage.css">
  
</head>
<body>
<div id="eventForm">
    <div id="EventLeftSide">
      <div id="eventCreate">
        <h2 id="pageTitle">Editing "{eventname}"</h2>
        <div class="eventForm">
          <h3 class="formnames">Basics</h3>
          <input type="text" name="eventname" class="EventInputs" placeholder="Event Name" v-model="eventname"><br/><br/>
          <input type="text" name="eventtype" class="EventInputs" style="width:40%" placeholder="Type">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="text" name="eventcategory" class="EventInputs" style="width:40%" placeholder="Category"><br/>
          <br/>
          <input type="text" name="eventorganizer" class="EventInputs" placeholder="Organizer">
          <br/>
          <br/>
          <h3 class="formnames">Location</h3>
          <input type="text" name="eventlocation" class="EventInputs" placeholder="enter address or venue name" v-model="eventlocation">
          <br/><br/>
          <h3 class="formnames">Date and Time</h3>
          <input type="date" name="eventdate" v-model="eventdate" class="EventInputs" placeholder="start date" style="width:40%"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="time" name="eventtime" v-model="eventtime" class="EventInputs" placeholder="start time" style="width:40%"/><br/><br/>
          <input type="date" name="eventenddate" v-model="eventenddate" class="EventInputs" placeholder="end date" style="width:40%"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="time" name="eventend" v-model="eventend" class="EventInputs" placeholder="end time" style="width:40%"/>
        </div>
      </div>
    </div>
    <div id="rightSide" class="vl">
      <div id="eventCreate">
        <h2>Tasks</h2>
      <div id="joinBox">
       <h3 style="padding-top:10px; padding-left:15px; color:black;" class="formnames">Edit Categories</h3>
       
       <h4>Appetizers</h4><br>
       <h4>Main Course</h4><br>
       <h4>Desserts</h4><br>
       <h4>Drinks</h4><br>
       
        <h3 style="padding-top:10px; padding-left:15px; color:black;" class="formnames">Add Category</h3>
        
        <input type="text" name="eventname" class="EventInputs" placeholder="Task Title"><br>
        <input type="text" name="eventname" class="EventInputs" placeholder="Add Members"><br>
        
        <button>Add</button>
        </div>
      </div>
    </div>
    <button id="done" class="btn">Done</button>
  </div>
  
 
  
</body>
</html>