* {
  font-family: Nunito!important;
}

#EventLeftSide {
  font-family: 'Nunito';
  background-color: white;
  width: 50vw;
  height: 100vh;
  position: absolute;
  text-align: center;
  color: black;
  left: 0;
  top: 0;
}

.eventForm {
  text-align: left;
  padding-left: 60px;
  padding-right: 60px;
}

.EventInputs {
  text-align: left;
  border: solid 1px black;
  width: 95%;
  height: 10px;
  padding: 10px;
  font-size: 14px;
  font-family: Nunito;
}

#partyButton {
  font-size: 15px;
  font-family: Nunito;
  border: solid 1px dimgray;
  border-radius: 10px;
  width: 40%;
  height: 25px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#joinButton {
  font-size: 15px;
  font-family: Nunito;
  border: solid 1px dimgray;
  border-radius: 10px;
  width: 40%;
  height: 25px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  top: 0;
}

#rightSide {
  height: 100vh;
  right: 0;
  background-size: cover;
  position: fixed;
}

#joinBox {
  width: 300px;
  height: 330px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
  font-family: Nunito;
  text-align: left;
}

.vl {
  border-left: 2px solid gray;
  height: 100px;
}

@media only screen and (max-width: 500px) {

  #leftSide,
  .eventForm,
  #eventCreate {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
  }

  #rightSide {}
}

#leftSide {
  background-image: url("../assets/balloon.png");
  height: 100vh;
  background-size: cover;
  position: fixed;
  left: 0px;
}

#eventLeft {
  height: 100vh;
  width: 50vw;
  left: 0;
  top: 0;
  position: absolute;
}

#eventInfo {
  font-size: 26px;
  margin: 50px;
  text-align: left;
}

#map {
  width: 450px;
  height: 250px;
  background-color: #ded;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

#notes {
  bottom: 200px;
  position: absolute;
  left: 0px;
  right: 0px;
  font-size: 26px;
}

#taskbutton {
  border-radius: 10px;
  font-size: 20px;
  background-color: white;
  width: 100px;
  height: 30px;
  margin: auto;
  margin: 10px;
}

#eventRight {
  overflow: scroll;
  font-family: 'Nunito';
  background-color: rgba(0, 0, 0, 0.1);
  width: 50vw;
  height: 100vh;
  position: absolute;
  text-align: left;
  color: dimgray;
  right: 0;
  top: 0;
}

#addingTask {
  margin: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 300px;
  height: 200px;
}

#eventRight2 {
  font-family: 'Nunito';
  background-color: white;
  width: 50vw;
  height: 100vh;
  position: absolute;
  text-align: center;
  color: dimgray;
  right: 0;
  top: 0;
}

.signupForm {
  text-align: left;
  padding-left: 15px;
}

.rows {
  width: 100%;
  height: 20vh;
}

.rowsText {
  font-size: 24px;
  color: black;
  text-align: left;
  padding: 40px;
  padding-top: 60px;
}

.rows:hover {
  opacity: 0.5;
  transition: 1s;
}

.inputs {
  text-align: left;
  border: none;
  height: 30px;
  padding: 10px;
  font-size: 14px;
  font-family: Nunito;
}

#signupButton {
  font-size: 15px;
  font-family: Nunito;
  border: solid 1px dimgray;
  border-radius: 10px;
  width: 40%;
  height: 25px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#partyButton {
  font-size: 15px;
  font-family: Nunito;
  border: solid 1px dimgray;
  border-radius: 10px;
  width: 40%;
  height: 25px;
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 40px;
}

#signupBox {
  width: 300px;
  height: 330px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

#rightSide {
  font-family: 'Nunito';
  background-color: white;
  width: 50vw;
  height: 100vh;
  position: absolute;
  text-align: center;
  color: dimgray;
  right: 0;
  top: 0;
}

@media only screen and (max-width: 500px) {
  #leftSide {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
  }

  #rightSide {
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
  }
}

#welcomePopup {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: bisque;
  color: dimgray;
}

body {}

#title {
  display: block;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#anim {
  max-width: 800px;
  height: 400px;
  margin: 0 auto;
}

#titlewave {
  display: block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#start {
  display: block;
  font-family: 'Nunito', sans-serif, bold;
  font-size: 1.25em;
  font-weight: 600;
  border: 3px solid #333;
  border-radius: 500px;
  margin: auto;
}

#login,
#getStarted,
#event,
#eventForm,
#register {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

li {
  list-style: none;
}

#rightCol {
  width: 20vw;
  height: 100vh;
  background-color: seashell;
  right: 0px;
  top: 0px;
  position: fixed;
  -webkit-animation: mymove 0.8s linear;
  /* Safari 4.0 - 8.0 */
  animation: mymove 0.8s linear;
  display: block;
}

@-webkit-keyframes mymove {
  from {
    right: -100px;
  }

  to {
    right: 0px;
  }
}

@keyframes mymove {
  from {
    right: -100px;
  }

  to {
    right: 0px;
  }
}

@-webkit-keyframes myNewmove {
  from {
    right: 0px;
  }

  to {
    right: -260px;
  }
}

@keyframes myNewmove {
  from {
    right: 0px;
  }

  to {
    right: -260px;
  }
}

.formnames {
  text-align: left;
}

.btn {
  background-color: transparent;
  color: #333;
  text-align: center;
  transition: 0.3s;
}

.btn:hover {
  background-color: #333;
  color: white;
}

#middle {
  width: 100%;
  bottom: 0px;
  position: absolute;
}

#container {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 1.05em;
  padding-left: 20px;
  padding-right: 20px;
}

h3 {
  text-align: center;
}

.icons {
  width: 100px;
  height: 100px;
}

#footer {
  text-align: center;
  color: #ccc;
  font-family: 'Nunito', sans-serif;
  margin-top: 40px;
}

#wrapper {
  background-image: url(../assets/davidBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: 'Nunito';
}

.done {
  display: block;
  width: 100px;
  height: 40px;
  font-family: 'Nunito', sans-serif, bold;
  font-size: 1em;
  font-weight: 600;
  border: 3px solid #333;
  border-radius: 500px;
  margin: auto;
  display: inline-block;
  margin-top: 30px;
  position: relative;
  margin-left: 70px;
}

.btn {
  background-color: transparent;
  color: #333;
  text-align: center;
  transition: 0.3s;
}

.colSection {
  text-align: center;
}

.btn:hover {
  background-color: #333;
  color: white;
}

#rightSide {
  font-family: 'Nunito';
  width: 50vw;
  height: 100vh;
  position: absolute;
  text-align: center;
  color: dimgray;
  right: 0;
  top: 35px;
}

#eventCreate {
  width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-family: Nunito;
}

#EventLeftSide {
  font-family: 'Nunito';
  width: 50vw;
  height: 100vh;
  position: absolute;
  text-align: center;
  color: black;
  left: 0;
  top: 0;
}

#eventLeft {
  height: 100vh;
  width: 50vw;
  left: 0;
  top: 0;
  position: absolute;
}

.eventForm {
  text-align: left;
  padding-left: 60px;
  padding-right: 60px;
}

html {
  margin: 0;
}

h2 {
  padding-left: 60px;
  padding-top: 30px;
}

a {
  text-decoration: none;
  color: black;
}

#eventnameInfo {
  font-weight: 700;
  font-family: Nunito;
  font-size: 46px;
}

#eventdateInfo,
#eventtimeInfo,
#eventlocationInfo,
#eventCodeInfo {
  font-size: 24px;
}

#sendCode {
  background-color: lightskyblue;
  border-radius: 20px;
  font-size: 18px;
  width: 100px;
  height: 40px;
  text-align: center;
  padding: 7px;
  color: white;
  font-family: Nunito;
}

#banner {
  margin: 0;
  background-color: #38a3ff;
  text-align: center;
  height: 70px;
  color: white;
}

#events {
  width: 70vw;
  background-color: #f2f2f2;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
}

#createNew {
  color: #7c7c7c;
  margin: auto;
}

.eventTile {
  display: inline-block;
  margin: 25px;
  width: 300px;
  height: 250px;
  background-color: white;
  padding: 90px;
  border-radius: 30px;
}

.eventTile:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.3)),
    url("eventRandom5.jpeg");
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  font-family: 'Nunito';
}

#save {
  font-family: 'Nunito';
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  font-size: 16px;
  cursor: pointer;
}

#newItems {
  font-size: 26px;
  font-weight: bold;
  margin-left: 20px;
}

#tasks {
  position: absolute;
  right: 0;
  top: 0;
  width: 50vw;
  height: 100vh;
  text-align: center;
}


.listItems {
  width: 50vw;
  height: 200px;
  font-size: 30px;
  text-align: center;
  padding: 80px;
  color: black;
  background: linear-gradient(
    rgba(0,0,0, 0.1),
    rgba(0,0,0, 0.2)),
    url("ocean.jpeg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.listItems:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.9)),
    url("confetti.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: white;
}

.listItems:hover .taskSignup {
  display: block;
}

.taskSignup {
  border-radius: 20px;
  width: 100px;
  height: 40px;
  margin: auto;
  text-align: center;
  font-size: 14px;
  background-color: white;
  color: dimgray;
  padding: 10px;
  display: none;
}

#msgs {
  position: absolute;
  right: 0;
  top: 0;
  width: 75vw;
  height: 100vh;
}

h1 {
  padding-left: 20px;
}


/*tasks*/

h2 {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}


/* Style the list items */

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
}


/* Set all odd list items to a different color (zebra-stripes) */

ul li:nth-child(odd) {
  background: #f9f9f9;
}


/* Darker background-color on hover */

/*
ul li:hover {
  background: #ddd;
}
*/


/* When clicked on, add a background color and strike out text */

ul li.checked {
  background: #888;
  color: #fff;
}


/* Add a "checked" mark when clicked on */

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}


/* Style the close button */

/* Style the header */

.header {
  /* background-color: #36a4f4; */
  background-color:lightsteelblue;
  padding: 30px 40px;
  color: white;
}


/* Clear floats after the header */

.header:after {
  content: "";
  display: table;
  clear: both;
}


/* Style the input */

#myInput {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}


/* Style the "Add" button */

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}


/*msgs*/

h1 {
  text-align: center;
}

#topbar {
  margin: 0;
  height: 60px;
  width: 100%;
  background-color: white;
}

hr {
  margin-top: 780px;
}

#TextInput {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  width: 90vw;
  height: 20px;
  padding: 5px;
}

#type {
  margin: 0;
  border: 1px solid lightgray;
  border-radius: 500px;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

#goDashboard {
  width: 120px;
  height: 30px;
  background-color: lightsteelblue;
  position: absolute;
  right: 50px;
  border-radius: 35px;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
}

.updateButton {
  display: inline-block;
  float: right;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .8;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background-color: lightblue;
  background-image: url("https://image.flaticon.com/icons/svg/1159/1159633.svg");
  background-position: center;
  background-size: 65%;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.deleteButton:hover {
  background-color: red;
}

.updateButton:hover {
  background-color: cornflowerblue;
}

.deleteButton {
  display: inline-block;
  float: right;
  color: #000;
  background-image: url("https://image.flaticon.com/icons/svg/61/61155.svg");
  border-radius: 30px;
  background-color: lightsteelblue;
  opacity: .8;
  width: 40px;
  height: 40px;
  background-position: 51%;
  background-size: 45%;
  background-repeat: no-repeat;
  margin: 0px;
  z-index: 1000;
}

#goToDashboard {
  width: 120px;
  height: 30px;
  background-color: lightsteelblue;
  position: absolute;
  left: 50px;
  border-radius: 35px;
  border: none;
  color: white;
  padding: 5px;
  bottom: 70px;
  text-align: center;
}

#editEvent {
  width: 120px;
  height: 30px;
  background-color: lightsteelblue;
  position: absolute;
  left: 50px;
  color: white;
  border-radius: 35px;
  border: none;
  padding: 5px;
  bottom: 120px;
  text-align: center;
}

#goBack {
  width: 120px;
  height: 30px;
  background-color: lightsteelblue;
  position: absolute;
  left: 50px;
  top: 20px;
  border-radius: 35px;
  color: white;
  border: none;
  padding: 5px;
  text-align: center;
}

#deleteEvent,
#refreshPage {
  width: 120px;
  height: 30px;
  background-color: lightsteelblue;
  position: absolute;
  color: white;
  border: none;
  border-radius: 35px;
  left: 50px;
  bottom: 20px;
  padding: 5px;
  text-align: center;
}

#deleteEvent:hover,
#goDashboard:hover,
#refreshPage:hover,
#goBack:hover,
#editEvent:hover,
#goToDashboard:hover {
  background-color: lightblue;
  width: 125px;
  height: 35px;
}

#send {
  width: 25px;
  height: 25px;
  padding: 5px;
}

body{
  font-family: 'Nunito';
}

#banner{
  margin: 0;
  background-color: #38a3ff;
  text-align: center;
  height: auto;
  padding: 10px;
}

#new{
  text-align: center;
  margin: 50px;
}

h2{
  text-align: center;
  margin: 30px;
  font-weight: 600;
}
#title{
  width: 200px;
}

.container{
  background-color: rgba(106, 106, 106, 0.22);
}

.col-md-2{
  height: 70px;
  background-color: skyblue;
  margin-left: auto;
  margin-top: 40px;
  margin-right: auto;
  color: white;
  font-size: 22px;
  padding: 20px;
  border-radius: 8px;
}

.col-md-2:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}